.attendance__content {
    background-color: #f0f0f0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
    padding-top: 20vh;
}

.attendance__status {
    background-color: #ccc;
    padding: 6px 14px;
    border-radius: 40px;
    font-size: 0.875rem;
    font-weight: bold;
    color: #777;
}

.attendance__date {
    margin-top: 20px;
    font-size: 1.5rem;
    margin-left: 5vh;
}

.attendance__clock {
    margin-top: 10px;
    font-size: 3rem;
    font-weight: bold;
}

.attendance__form {
    margin-top: 30px;
}

.attendance__button {
    background-color: black;
    color: white;
    padding: 6px 38px;
    font-size: 1.2rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.attendance__button-group {
    display: flex;
    gap: 16px;
    margin-top: 30px;
}

.attendance__button--white {
    background-color: white;
    color: black;
    padding: 6px 38px;
    font-size: 1.2rem;
    border-radius: 10px;
    cursor: pointer;
    border: none;
}

.attendance__message {
    margin-top: 20px;
    font-size: 1.2rem;
    color: #333;
    font-weight: bold;
}

