/node_modules
/public/hot
/public/storage
/vendor
.env
.env.backup
.env.testing
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/test-clone/

# 一旦すべての storage 以下を除外
/src/storage/*

# 除外を解除（順番が重要）
!/src/storage/app/
!/src/storage/app/public/
!/src/storage/app/public/images/
!/src/storage/app/public/images/**